<tr>
    <td>LDAP user unlock</td>
    <td class="{{ resolution.ldap_unlock ? "success" : "warning" }}">{{ resolution.ldap_unlock ? "true" : "false" }}</td>
</tr>

<tr>
    <td>VCS user unlock</td>
    <td class="{{ resolution.vcs_unlock ? "success" : "warning" }}">{{ resolution.vcs_unlock ? "true" : "false" }}</td>
</tr>

<tr>
    <td>PM user unlock</td>
    <td class="{{ resolution.pm_unlock ? "success" : "warning" }}">{{ resolution.pm_unlock ? "true" : "false" }}</td>
</tr>

<tr>
    <td>DB user unlock</td>
    <td class="{{ resolution.db_unlock ? "success" : "warning" }}">{{ resolution.db_unlock ? "true" : "false" }}</td>
</tr>